@model int
@{
    CORE.Tables.TB_TYPES type = ViewBag.ServiceType;
    if (type == null)
    {
        type = new CORE.Tables.TB_TYPES();
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title"></h5>
        </div>
        <div class="modal-body">
            <!-- Voucher info -->
            <div class="panel panel-flat">
                <div class="panel-body" style="height: @(Model)px;max-height: @(Model)px;overflow-y: auto;">
                    <form action="#">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Mã loại dịch vụ :</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" maxlength="50" class="form-control not-empty" id="TYPE_CODE" value="@type.TypeCode" @if (!string.IsNullOrEmpty(type.TypeCode)) { <text>readonly</text>  }>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Tên loại dịch vụ :</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" maxlength="50" class="form-control not-empty" id="TYPE_NAME" value="@type.TypeName">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Voucher info -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            <button type="button" onclick="UploadFile()" class="btn btn-primary btnSaveVoucher">Save changes</button>
        </div>
    </div>
</div>